<ul class="list-inline">
    {{#each filterList }}
    <li>
      {{> basics-tag tagText={{{this}}} tagClass="tag-info" tagDismissable="true" }}
    </li>
    {{/each}}

  <li>
    {{> basics-tag tagText="Name: nameofthething" tagClass="tag-info" tagDismissable="true"}}
  </li>
  <li>
    {{> basics-tag tagText="Name: nameofthething" tagClass="tag-info" tagDismissable="true"}}
  </li>
  <li>
    {{> basics-tag tagText="Name: nameofthething" tagClass="tag-info" tagDismissable="true"}}
  </li>
</ul>
